NIDAAN_HOST=0.0.0.0
NIDAAN_PORT=8000
NIDAAN_DEBUG=true
NIDAAN_LOG_LEVEL=INFO
NIDAAN_SVI_AUDIO_WEIGHT=0.4
NIDAAN_SVI_TEXT_WEIGHT=0.6
NIDAAN_WS_PUSH_INTERVAL=1.5
NIDAAN_AUDIO_SAMPLE_RATE=16000
NIDAAN_AUDIO_CHUNK_DURATION_MS=500
NIDAAN_MAX_CONCURRENT_STREAMS=50
NIDAAN_DATA_DIR=./data
